:root {
  --primary: #4f46e5;
  --bg: #f5f7fb;
  --card: #ffffff;
  --text: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}
